<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html charset=utf-8">
<title>스프링연습</title>
</head>
<body>

<div class="container">
	<div>
		<table>
			<thead>
			<tr>
				<th>#</th>
				<th>이름</th>
			</tr>
			</thead>
			<tbody>
			<!--
				th 템플릿 문법이 등장했다.
				th:each문으로 해당 html문을 반복할 수 있다.
				setter를 통해서 가져온다.
			-->
			<tr th:each="member : ${members}">
				<td th:text="${member.id}"></td>
				<td th:text="${member.name}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div><!-- /container -->
</body>
</html>